// common

html {
  @include min-lg { font-size: 18px }
  @include min-xl { font-size: 20px }
}

body {
  color: $color-text-base;
  font-family: YakuHanJPs_Narrow, -apple-system, 'BlinkMacSystemFont', 'Hiragino Sans','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', sans-serif;
  letter-spacing: .05em;
}

a {
  color: $color-key-accent1;
  text-decoration: none;
  &:hover {
    color: $color-key-accent2;
  }
}

#blog-description,
.entry-description,
.archive-entry .categories .archive-category-link,
.archive-entry-body,
.entry-footer-section,
.pager-arrow {
  display: none;
}

.archive-nav-item,
.hatena-module-category li {
  display: inline-block;
}

.entry-inner,
.pager,
#box2-inner,
.search-result {
  width: calc(100vw - 4rem); // codeの横スクロールを維持するため
  max-width: 38.75rem;
  margin: auto;
}

.share-btn,
.hatena-module-category .hatena-urllist a,
.archive-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem .8rem .2rem 0;
  font-size: .9rem;
  font-weight: 500;
}
.archive-nav-item:last-child .archive-nav-link {
  padding: .2rem 0;
}

.date a,
.urllist-date-link a,
.related-entries-date-link a {
  color: $color-text-gray;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: .76em;
  pointer-events: none;
}

// grid layout

#blog-title      { grid-area: ContainerA; z-index: 1 }
#top-editarea    { grid-area: ContainerB; z-index: 1 }
#content         { grid-area: ContainerC }
#top-box         { grid-area: ContainerD }
#bottom-editarea { grid-area: ContainerE }

#container-inner { // スマホ１カラム
  display: grid;
  grid-template: "ContainerA" 6rem
                 "ContainerB" auto
                 "ContainerC" auto
                 "ContainerE" auto
                 "ContainerD" auto;
}

// header

#blog-title-inner { // ヘッダー画像を正方形配置
  margin: 1rem;
  width: 4rem;
  height: 4rem !important;
  background-image: url('//data.rokuzeudon.com/blog/img/rokuzeudon2.svg')  !important;
  background-size: contain;
  border-radius: 100%;
}

.header-image-only #blog-title,
#top-editarea {
  background: $color-bg-key1;
}

// base

#main-inner {
  position: relative;
  padding: 2rem;
}

.entry-header      {
  display: flex;
  flex-wrap: wrap;
}
.entry-date        {
  order: 2;
  margin: 0 0 1rem;
}
.entry-title       {
  order: 1;
  width: 100%;
  margin: 0 0 .2em;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  a {
    color: $color-text-base;
    &:hover {
      color: $color-text-base;
    }
  }
}
.customized-header {
  order: 3;
  width: 100%;
}

.entry-category-link {
  display: inline-block;
  margin: 0 .4rem .4rem 0;
  font-size: .9rem;
}

.archive-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.archive-category-link:first-child {
  display: block !important;
  position: absolute;
  right: .8rem;
  top: .8rem;
  padding: .2em .6em;
  font-size: .7rem;
  color: $color-text-white;
  background: $color-bg-black;
  border-radius: 1rem;
  z-index: 20;
  opacity: .6;
  &:hover {
    opacity: .8;
  }
}

.page-archive {
  .entry-thumb {
    display: block;
    width: 100%;
    height: 13.5rem;
    background-position: center;
    border-radius: .6rem;
    margin-right: 0;
  }
  .entry-thumb-link {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.archive-entry {
  position: relative;
  display: flex !important;
  margin: 0 0 1rem;
  width: 100%;
  max-width: 22rem;
}

.archive-entry-header {
  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-end;
  padding: 14.5rem .2rem 1rem;
  .entry-title {
    font-size: 1rem;
  }
}

#top-box {
  display: flex;
  align-items: center;
  padding: .8rem 0 .8rem 1rem;
  font-size: .7rem;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
}
.page-entry .breadcrumb { // blog.cssを上書き
  margin-bottom: 0;
}
.breadcrumb-gt {
  display: inline-block;
  margin: 0 .8em;
  transform: scaleX(.6);
  opacity: .5;
}

// pager

.pager {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}
.page-entry {
  .pager-prev, .pager-next {
    display: flex;
    flex-flow: column;
    width: 50%;
    font-size: .9rem;
    &::before {
      display: block;
      margin: 0 0 .5em;
      font-size: .9rem;
      font-weight: 500;
      color: $color-text-gray;
    }
  }
  .pager-prev{
    &::before { content: "新しい記事" }
  }
  .pager-next{
    align-items: flex-end;
    &::before { content: "前回の記事" }
  }
}

// entry

.entry-content {
  word-break: break-word;
  p,
  ul,
  ol,
  dl,
  table,
  blockquote,
  pre,
  .hatena-asin-detail {
    margin: 1.5em 0;
  }
  h3, h4, h5 {
    position: relative;
    margin: 2em 0 1.5em;
    font-weight: 500;
    &::before {
      content: "";
      position: absolute;
      display: block;
      background: $color-key-accent1;
    }
  }
  h3 {
    font-size: 1.5rem;
    padding: 0 0 .8rem;
    &::before {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
    }
  }
  h4 {
    font-size: 1.3rem;
    padding: .2rem 0 .2rem 1.2rem;
    &::before {
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
    }
  }
  h5 {
    font-size: 1.1rem;
    padding: 0 0 0 1rem;
    &::before {
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
    }
  }
  p {
    line-height: 1.9;
    &:last-child {
      margin: 0;
    }
  }
  img {
    vertical-align: top;
    box-shadow: 0 .1rem 0.6rem 0 rgba(67,0,0,.08);
  }
  ul, ol {
    padding: 0 0 0 1.3rem;
    ul, ol {
      margin: 0;
    }
    li {
      margin: .4rem 0;
    }
  }
  blockquote {
    padding: 1.4rem;
    background: $color-bg-gray;
    &::before, &::after {
      position: absolute;
      font-family: serif;
      font-size: 3em;
      line-height: 1;
      color: $color-text-gray;
    }
    &::before {
      content: "“";
      top: 0;
      left: 0;
    }
    &::after {
      content: "”";
      right: 0;
    }
  }
  strong {
    background: linear-gradient(transparent 80%,rgba(255,225,0,.7) 0);
  }
  pre {
    padding: 1em;
    white-space: pre;
  }
  .hatena-asin-detail, .itunes-embed { // アフィリエイト
    padding: 1.2em;
    border: none;
    background: $color-bg-key1;
    ul {
      margin: 1rem 0 0;
      padding: 0;
    }
  }
  .hatena-asin-detail,
  .hatena-asin-detail-title {
    line-height: 1.2;
  }
  .embed-webcard {
    margin: 0 !important;
  }
}

ul.table-of-contents {
  padding: 1rem;
  list-style: none;
  font-size: .9rem;
  background: $color-bg-key1;
  &::before {
    content: "目次";
    display: inline-block;
    margin: 0 0 .2rem;
    font-weight: 500;
    color: $color-key-accent1;
  }
  li {
    margin: 0;
  }
  ul {
    margin: 0 0 0 .6rem;
    padding: 0;
    list-style: none;
    font-weight: normal;
  }
  a {
    position: relative;
    display: block;
    padding: .3rem 0 .3rem 1rem;
    line-height: 1.2;
    color: $color-text-base;
    &:hover {
      background: $color-bg-key2;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: .7rem;
      left: .2rem;
      width: 6px;
      height: 6px;
      background: $color-key-accent1;
    }
  }
}

.leave-comment-title {

}
.comment-box {
  margin: 0 0 2rem;
  padding: 1rem;
  background: $color-bg-key1;
  line-height: 1.4;
  word-wrap: break-word;
  ul {
    margin: 0;
    padding: 0;
    font-size: .9em;
    list-style: none;
    li {
      margin: 0 0 .4rem;
      padding: 1em 1em 1em 5em;
      background: $color-bg-white;
      box-shadow: 0 .5em .3em -.2em rgba(180, 80, 60, .06);
      &:first-child {
        margin: 1em 0 .4rem;
      }
      &.read-more-comments {
        margin: 0;
        padding: .6rem 0 0;
        background: transparent;
        box-shadow: none;
      }
    }
  }
  .hatena-id-icon {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 3rem !important;
    height: 3rem !important;
    border-radius: .2rem;
  }
}
.comment-user-name {
  margin: -.2rem 0 .2rem;
}

.entry-footer          {
  margin: 2rem 0 0;
  padding: 2rem 0 0;
  .share-btns, .hatena-star-container, .entry-footer-modules {
    margin: 0 0 2rem;
  }
}
.customized-footer     {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

// box2

#box2 {
  padding: 0 2rem 3rem;
}

.hatena-module-title,
.page-about dt {
  margin: 0 0 .4rem;
  font-size: .9rem;
  font-weight: 500;
  color: $color-text-gray;
}

.related-entries-date-link {
  margin: 0 0 .4em;
}

.related-entries-title-link {
  font-size: .9rem;
  line-height: 1;
  color: $color-text-base;
}

.search-form,
.search-result-form {
  display: flex;
  flex: auto 1;
  align-items: center;
  margin: 0 0 2rem;
  border: 1px solid $color-border;
  background: $color-bg-white;
  max-width: none; // .search-result-form用
}
.search-module-input,
.search-result-form .search-result-input {
  width: 100%;
  padding: .5em 0 .5em 1em;
  height: auto;
}
.search-module-button,
.search-result-form .search-result-button {
  display: block;
  position: relative;
  top: auto;
  right: auto;
  width: 3em;
  height: auto;
  background: transparent url("//data.rokuzeudon.com/blog/img/icn-search.svg") no-repeat center center/40%;
  text-indent: -9999px;
  opacity: .5;
  &:hover {
    opacity: .3;
  }
}

// bottom-editarea

#bottom-editarea {
  padding: 1rem;
  background: $color-bg-key1;
  text-align: center;
  font-size: .8rem;
  p {
    margin: .4rem auto;
  }
}

// カテゴリページ

.archive-header-category {
  margin: 1.2rem 0 2rem;
  .archive-heading {
    margin: 0 auto 1rem;
    font-size: 1.6rem;
  }
}

.gnav  {
  position: absolute; //ロゴの横に移動
  top: .8rem;
  left: 5.4rem;
  width: calc(100% - 5.8rem);
}
.gnav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;
  font-size: .76rem;
}
.gnav-items {
  display: flex; //横並び
  justify-content: space-around;
  padding: 0 2%;
}
.gnav-item {
  width: 30%; //４メニュー並べる
  height: 2.5rem;
  list-style: none;
  font-size: .9rem;
  font-weight: 500;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background: $color-bg-white;
    border-radius: 2em;
    box-shadow: 0 .5em .3em -.2em rgba(180, 80, 60, .1);
  }
}

.share-btns {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  img {
    width: auto;
    height: 1.4rem;
  }
}

// メインビジュアル

.page-entry {
  .entry-header {
    width: 100%;
    padding: 14rem 0 0;
  }
  .entry-title {
    margin: .4em 0;
  }
}
.mainimage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14em;
  overflow: hidden;
  box-shadow: 0 0 2rem 0 rgba(180,80,60,.1);
  img {
    width: auto;
    min-width: 32em;
    height: 100%;
    box-shadow: none;
    z-index: 20;
  }
  .bg {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-position: 50% 50% !important;
    background-size: cover !important;
    filter: brightness(1.1) blur(5rem);
    transform: translateZ(0);
    opacity: .9;
  }
}
p.mainimage { // 一部の古い記事用
  background-position: center !important;
  background-size: cover !important;
  margin: 0 auto;
}

// この記事を書いた人

.author-box {
  display: flex;
  margin: 1rem 0 2rem;
  font-size: .8rem;
}
.author-left {
  text-align: center;
}
.author-img img {
  width: 100%;
  max-width: 6rem;
}
.author-name {
  letter-spacing: 0;
}
.author-id {
  margin: 0;
  font-weight: normal;
  color: $color-text-gray;
}
.author-message {
  position: relative;
  margin: 0 0 0 1rem;
  padding: 1rem;
  line-height: 1.6;
  background: $color-bg-key2;
  &::before {
    content: "";
    position: absolute;
    top: 3.8em;
    left: -1.4em;
    margin-top: -.7em;
    border: .7em solid transparent;
    border-right: .7em solid $color-bg-key2;
  }
  .share-btns {
    margin: 0;
  }
  .share-btn {
    margin: .4rem .6rem 0 0;
    padding: .2rem .6rem;
    color: $color-text-base;
    background: $color-bg-white;
    border-radius: 2em;
    box-shadow: 0 .5em .3em -.2em rgba(180, 80, 60, .1);
    img {
      height: 1rem;
      margin: 0 .4rem 0 0;
    }
    &:hover {
      box-shadow: 0 .9em .6em 0 rgba(180, 80, 60, .06);
    }
  }
}

// page-about

.page-about {
  img {
    box-shadow: none;
  }
  dl {
    padding: 1.4rem 1.4rem .5rem;
    background: $color-bg-key1;
  }
  dd {
    margin: -.2rem 0 1rem;
  }
}
