// hidden

#blog-description,
.entry-description,
.archive-entry .categories .archive-category-link,
.archive-entry-body,
.entry-footer-section,
.pager-arrow {
  display: none;
}

.archive-nav-item,
.hatena-module-category li {
  display: inline-block;
}

// common

html {
  @include min-lg { font-size: 18px }
  @include min-xl { font-size: 20px }
}

body {
  color: #454545;
  font-family: YakuHanJPs_Narrow, -apple-system, 'BlinkMacSystemFont', 'Hiragino Sans','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', sans-serif;
  letter-spacing: .05em;
}

a {
  color: #F36777;
  text-decoration: none;
  &:hover {
    color: #b30e21;
  }
}

.share-btn, .leave-comment-title, .hatena-module-category .hatena-urllist a, .archive-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem .8rem .2rem 0;
  font-size: .9rem;
  font-weight: 500;
  @include min-sm {
    transition: .16s ease-out;
    &:hover {
      transform: translateY(-.1rem);
    }
  }
}

.date, .urllist-date-link, .related-entries-date-link a {
  font-family: 'Roboto', sans-serif;
  font-size: .76em;
  a {
    color: #999;
    text-decoration: none;
    pointer-events: none;
  }
}

@include min-sm { // PCで右コンテンツをスクロールさせる
  #content {
    overflow-y: scroll;
    -ms-overflow-style: none;
    height: calc(100vh - 2rem);
  }
  .page-index #content,
  .page-about #content {
    height: 100vh;
  }
}

// grid layout

#blog-title      { grid-area: ContainerA; z-index: 1}
#top-editarea    { grid-area: ContainerB; z-index: 1 }
#content         { grid-area: ContainerC }
#top-box         { grid-area: ContainerD }
#bottom-editarea { grid-area: ContainerE }

#container-inner { // スマホ１カラム
  display: grid;
  grid-template: "ContainerA" 6rem
                 "ContainerB" auto
                 "ContainerC" auto
                 "ContainerE" auto
                 "ContainerD" auto;
}
@include min-sm { // PC２カラム
  #container-inner {
    grid-template: "ContainerA ContainerD" 2rem
                   "ContainerA ContainerC" 9rem
                   "ContainerB ContainerC" auto
                   "ContainerE ContainerC" auto
                   / 12.5rem auto;
  }
  // パンくずがないページの調整
  .page-index #container-inner,
  .page-about #container-inner,
  .page-archive-category-name #container-inner {
    grid-template: "ContainerA ContainerC" 11rem
                   "ContainerB ContainerC" auto
                   "ContainerE ContainerC" auto
                   / 12.5rem auto;
  }
}

// flex layout

.entry-header      {
  display: flex;
  flex-wrap: wrap;
}
.entry-date        {
  order: 2;
  margin: 0 0 1rem;
}
.entry-title       {
  order: 1;
  width: 100%;
  margin: 0 0 .4em;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  a {
    color: #454545;
  }
}
.customized-header {
  order: 3;
  width: 100%;
}

.entry-footer          {
  border-top: 1px solid #ddd;
  margin: 2rem 0 0;
  padding: 2rem 0 0;
  .share-btns, .author-box, .hatena-star-container, .entry-footer-modules {
    margin: 0 0 2rem;
  }
}
.customized-footer     {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

// header

.header-image-only #blog-title {
  background-color: #fff8f8;
}

#blog-title-inner { // ヘッダー画像を正方形配置
  margin: 1rem;
  width: 4rem;
  height: 4rem !important;
  background-image: url('//cdn-ak.f.st-hatena.com/images/fotolife/r/rokuzeudon/20181113/20181113094535.png') !important;
  background-size: cover;
  @include min-sm {
    margin: 2rem auto;
    width: 8.2rem;
    height: 8.2rem !important;
  }
}

#top-editarea {
  background: #fff8f8;
}

// base

#main-inner {
  position: relative;
  padding: 2rem;
}
@include min-sm {
  .page-archive #main-inner {
    padding: 4rem 1rem 2rem;
  }
  .page-archive-category #main-inner {
    padding: 2rem 1rem;
  }
}

.entry-inner, .pager, #box2-inner {
  width: calc(100vw - 4rem);
  @include min-sm {
    width: 100%;
    max-width: 38.75rem;
    margin: auto;
  }
}

.entry-category-link {
  display: inline-block;
  margin: 0 .4rem .4rem 0;
  font-size: .9rem;
}

.archive-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include min-sm {
    margin: 0 auto 1rem;
  }
}

.archive-entry .categories .archive-category-link:first-child {
  display: block;
  position: absolute;
  right: .8rem;
  top: .8rem;
  padding: .2em .6em;
  font-size: .7rem;
  color: #666;
  background: #ededed;
  border-radius: 1rem;
  z-index: 20;
  &:hover {
    color: #333;
    background: #ddd;
  }
}

.page-archive {
  .entry-thumb {
    display: block;
    width: 100%;
    height: 10rem;
    background-position: center;
    border-radius: .6rem;
    margin-right: 0;
  }
  .entry-thumb-link {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.archive-entry {
  position: relative;
  display: flex !important;
  margin: 0 .6rem 1.8rem;
  width: 100%;
  max-width: 21.5rem;
  @include min-sm {
    margin: 0 1rem 2rem;
  }
}

.archive-entry-header {
  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-end;
  padding: 11rem .2rem 1rem;
  .entry-title {
    font-size: 1rem;
  }
}

#top-box {
  display: flex;
  align-items: center;
  padding: .4rem 0 .8rem 1rem;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  @include min-sm {
    padding: 0 0 0 1rem;
    box-shadow: 0 0 2rem 0 rgba(180, 80, 60, .1);
  }
}
.page-entry .breadcrumb { // blog.cssを上書き
  margin-bottom: 0;
}
.breadcrumb {
  font-size: .8rem;
  a { font-weight: bold }
}
.breadcrumb-gt {
  display: inline-block;
  margin: 0 .8em;
  color: #F36777;
  transform: scaleX(.6);
}

// pager

.pager {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 1rem;
}
.page-entry {
  .pager-prev, .pager-next {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 48%;
    font-size: .9rem;
    &::before {
      display: block;
      font-size: .8rem;
      color: #999;
    }
  }
  .pager-prev::before { content: "新しい記事" }
  .pager-next::before { content: "前回の記事" }
}

// entry

.entry-content {
  word-break: break-word;
  p, ul, ol, dl, table, blockquote, pre, .hatena-asin-detail {
    margin: 1.5em 0;
  }
  h3, h4, h5 {
    position: relative;
    margin: 2em 0 1.5em;
    font-weight: 500;
    &::before {
      content: "";
      position: absolute;
      display: block;
      background: #aaa;
    }
  }
  h3 {
    font-size: 1.5rem;
    padding: 0 0 .8rem;
    &::before {
      bottom: 0;
      left: 0;
      width: 100%;
      height: .1rem;
    }
  }
  h4 {
    font-size: 1.3rem;
    padding: .2rem 0 .2rem 1.2rem;
    &::before {
      top: 0;
      left: 0;
      width: .3rem;
      height: 100%;
    }
  }
  h5 {
    font-size: 1.1rem;
    padding: 0 0 0 1rem;
    &::before {
      top: 0;
      left: 0;
      width: .2rem;
      height: 100%;
    }
  }
  ul > ul, ul > ol, ol > ul, ol > ol {
    margin: 0 0 0 1em;
  }
  p {
    line-height: 1.9;
  }
  img {
    vertical-align: top;
    box-shadow: 0 .1rem 0.6rem 0 rgba(67,0,0,.08);
  }
  ul, ol {
    padding: 0 0 0 1.3rem;
    ul, ol {
      margin: 0;
    }
    li {
      margin: .4rem 0;
    }
  }
  blockquote {
    padding: 1.4rem;
    background: #f8f8f8;
    &::before, &::after {
      position: absolute;
      font-family: serif;
      font-size: 3em;
      line-height: 1;
      color: #ccc;
    }
    &::before {
      content: "“";
      top: 0;
      left: 0;
    }
    &::after {
      content: "”";
      right: 0;
      bottom: -1rem;
    }
    p {
      margin: 0 0 1.5em;
      &:last-child {
        margin: 0;
      }
    }
  }
  strong,b {
    background: linear-gradient(transparent 80%,rgba(247,222,28,.5) 0);
  }
  pre {
    padding: 1em;
    border: 1px solid #ddd;
    white-space: pre;
  }
  .hatena-asin-detail, .itunes-embed { // アフィリエイト
    padding: 1.2em;
    border: none;
    background: #fff5ef;
    ul {
      margin: 1rem 0 0;
      padding: 0;
    }
  }
  .hatena-asin-detail-title, .hatena-asin-detail {
    line-height: 1.2;
  }
  .embed-webcard {
    margin: 0 !important;
  }
  .hatena-citation {
    opacity: 1;
  }
}

ul.table-of-contents {
  padding: 1rem;
  list-style: none;
  font-size: .9rem;
  border: 1px solid #ddd;
  &::before {
    content: "目次";
    display: inline-block;
    color: #666;
    margin: 0 0 .5rem;
    font-weight: 500;
  }
  li {
    margin: 0;
  }
  > li:first-child::before {
    content: "";
    display: block;
    margin: 0 0 .4rem;
    width: 100%;
    height: 1px;
    background: #ddd;
  }
  ul {
    margin: 0 0 0 1rem;
    padding: 0;
    list-style: none;
    font-weight: normal;
  }
  a {
    position: relative;
    display: block;
    padding: .3rem 0 .3rem .8rem;
    line-height: 1.2;
    color: #666;
    &:hover {
      background: #f8f8f8;
    }
    &::before {
      content: "";
      position: absolute;
      top: .7rem;
      left: 0;
      display: block;
      width: .3rem;
      height: .3rem;
      margin: 0 .4rem .2rem 0;
      background: #F36777;
    }
  }
}

.leave-comment-title {
  display: inline-block;
  margin: 0;
  padding: .4rem .8rem;
}
.comment-box {
  margin: 0 0 2rem;
  padding: 1rem;
  background: #fff8f8;
  border-radius: 2em;
  ul {
    margin: 0;
    padding: 0;
    font-size: .9em;
    list-style: none;
    li {
      margin: 0 0 .4rem;
      padding: 1em 1em 1em 5em;
      background: #fff;
      border-radius: 1em;
      box-shadow: 0 .5em .3em -.2em rgba(180, 80, 60, .06);
      &:first-child {
        margin: 1em 0 0;
      }
      &:last-child {
        box-shadow: none;
      }
      &.read-more-comments {
        margin: 0;
        padding: .6rem 0 0;
        background: transparent;
      }
    }
  }
  .hatena-id-icon {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 3px;
  }
}
.comment-user-name {
  margin: -.2rem 0 .2rem;
}
.comment-content {
  word-wrap: break-word;
  p {
    margin: 0 0 .4em;
    line-height: 1.4;
  }
}

// box2

#box2 {
  padding: 3rem 2rem;
}

.hatena-module-title {
  margin: 0 0 .4rem;
  font-size: .9rem;
  font-weight: 500;
  color: #666;
}

.related-entries-title-link {
  font-size: .9rem;
  line-height: 1;
  color: #454545;
}

.search-form, .search-result-form {
  display: flex;
  flex: auto 1;
  align-items: center;
  margin: 0 0 2rem;
  border: 1px solid #ffcfd4;
  background: #fff;
  max-width: none; // .search-result-form用
}
.search-module-input, .search-result-form .search-result-input {
  width: 100%;
  padding: .5em 0 .5em 1em;
  height: auto;
}
.search-module-button, .search-result-form .search-result-button {
  display: block;
  position: relative;
  top: auto;
  right: auto;
  width: 3em;
  height: auto;
  background: transparent url("//data.rokuzeudon.com/blog/img/icn-search.svg") no-repeat center center/40%;
  text-indent: -9999px;
  opacity: .5;
  &:hover {
    opacity: .3;
  }
}
.search-result {
  margin: 2rem 0;
}
@include min-sm {
  .hatena-module-search-box .hatena-module-title {
    display: none;
  }
  .search-form {
    position: absolute;
    top: 16rem;
    left: .5rem;
    width: 11.5rem;
    z-index: 20;
  }
  .search-module-input {
    padding: .6em 0 .6em .6em;
    font-size: .8rem;
    min-width: 0; // Firefoxのバグ対策
  }
  .search-module-button {
    width: 2.4em;
  }
  .search-result {
    max-width: 38.75rem;
    margin: -1rem auto 0;
  }
}

// bottom-editarea フッター

#bottom-editarea {
  padding: 1rem;
  background: #fff8f8;
  text-align: center;
  font-size: .8rem;
  p {
    margin: .4rem auto;
  }
  @include min-sm {
    display: flex;
    text-align: left;
    font-size: .7rem;
    align-items: flex-end;
    a {
      display: inline-block;
    }
  }
}

// カテゴリページ

.archive-header-category {
  margin: 1.2rem 0 2rem;
  @include min-sm {
    text-align: center;
  }
  .archive-heading {
    margin: 0;
    font-size: 1.6rem;
    @include min-lg {
      font-size: 2rem;
    }
  }
}
