.gnav  {
  position: absolute; //ロゴの横に移動
  top: .8rem;
  left: 4.2rem;
  width: calc(100% - 4.8rem);
}
.gnav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.875rem;
  font-size: .76rem;
  font-weight: normal;
  background: #fff8f8;
}
.gnav-items {
  display: flex; //横並び
  justify-content: space-around;
  padding: 0 2%;
  background: #fff8f8;
}
.gnav-item {
  width: 30%; //４メニュー並べる
  height: 2.5rem;
  list-style: none;
  font-size: .9rem;
  font-weight: 500;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background: #fff;
    border-radius: 2em;
    box-shadow: 0 .5em .3em -.2em rgba(180, 80, 60, .1);
  }
}
@include min-sm {
  .gnav {
    position: relative;
    left: 0;
    width: 100%;
  }
  .gnav-title {
    background: transparent;
  }
  .gnav-item {
    margin: .6rem 0 .3rem;
    a {
      font-size: .8rem;
      transition: .16s ease-out;
      &:hover {
        box-shadow: 0 .9em .6em 0 rgba(180, 80, 60, .06);
        transform: translateY(-.1rem);
      }
    }
  }
}

.share-btns {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 .4rem;
  background: #fff0f0;
}
.share-btn, .leave-comment-title, .hatena-module-category .hatena-urllist a, .archive-nav-link {
  display: flex;
  align-items: center;
  margin: .6rem .2rem;
  padding: .2rem .6rem;
  height: 2rem;
  font-size: .9rem;
  font-weight: 500;
  color: #666;
  background: #fff;
  border: 1px solid transparent;
  border-radius: .2rem;
  &:hover {
    color: #454545;
    border: 1px solid #ddd;
  }
  img {
    width: auto;
    height: 1.4rem;
  }
  &.copied {
    color: #666;
    background: #fff8f8;
    border: 1px solid #ddd;
  }
}

// メインビジュアル
.page-entry {
  .entry-header {
    width: 100%;
    padding: 14rem 0 0;
  }
}
.mainimage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14em;
  overflow: hidden;
  box-shadow: 0 0 2rem 0 rgba(180,80,60,.1);
  img {
    width: auto;
    min-width: 32em;
    height: 100%;
    box-shadow: none;
    z-index: 20;
  }
  .bg {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-position: 50% 50% !important;
    background-size: cover !important;
    filter: brightness(1.1) blur(5rem);
    transform: translateZ(0);
    opacity: .9;
  }
}
p.mainimage { // 一部の古い記事用
  background-position: center !important;
  background-size: cover !important;
  margin: 0 auto;
}
@include min-sm {
  .page-entry {
    .entry-header {
      padding: 22rem 0 0;
    }
  }
  .mainimage {
    height: 22rem;
    box-shadow: none;
    img {
      height: auto;
      &.mv {
        margin: 0 3rem;
        width: 39rem;
        border-radius: .8em;
      }
    }
  }
}

// この記事を書いた人
.author-box {
  margin: 0 0 1rem;
  background: #fff0f0;
  border: 1px solid #ffdada;
  border-radius: .4em;
}
.author-left, .author-right {
  padding: 1rem;
}
.author-left {
  text-align: center;
  vertical-align: middle;
  background:#fff;
  border-radius: .4em .4em 0 0;
  dl {
    margin: .4em 0 0;
  }
  dd {
    margin: 0;
    font-size: .8em;
    font-weight: normal;
    color: #999;
  }
}
.author-right {
  p {
    margin: 0 0 1rem;
    font-size: .9rem;
  }
  .share-btns {
    margin: 0 0 -.4rem;
    padding: 0;
  }
  .share-btn {
    margin: 0 .6rem .6rem 0;
    img {
      height: 1rem;
      margin: 0 .4rem 0 0;
    }
  }
}
@include min-sm {
  .author-box {
    display: flex;
    align-items: center;
  }
  .author-left {
    width: 16rem;
    border-radius: .4em 0 0 .4em;
  }
}

// page-about
.about-box img {
  box-shadow: none;
}
.feedly::before {
  content: "\f04e";
  font: 1.2em/1 blogicon;
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 .4em 0 0;
  color: #2bb24c;
}
#privacy.about-box {
  padding: .02em 1.6rem;
  background: #f2f2f2;
  a {
    display: inline;
  }
}
dt {
  margin: 0 0 .2em;
  font-size: .9rem;
  font-weight: 500;
  color: #666;
}
dd {
  margin: .5rem 0 1rem;
}

// page-archive
.archive-nav {
  list-style: none;
}
.archive-nav-item {
  display: inline-block;
  margin: 0 .8rem .8rem 0;
}
.archive-nav-link {
  position: relative;
  margin: 0;
  box-shadow: 0 .8em 1em -.6em  rgba(180, 80, 60, .06);
}
