.gnav  {
  position: absolute; //ロゴの横に移動
  top: .8rem;
  left: 5.4rem;
  width: calc(100% - 5.8rem);
}
.gnav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;
  font-size: .76rem;
}
.gnav-items {
  display: flex; //横並び
  justify-content: space-around;
  padding: 0 2%;
}
.gnav-item {
  width: 30%; //４メニュー並べる
  height: 2.5rem;
  list-style: none;
  font-size: .9rem;
  font-weight: 500;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background: #fff;
    border-radius: 2em;
    box-shadow: 0 .5em .3em -.2em rgba(180, 80, 60, .1);
  }
}

.share-btns {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  img {
    width: auto;
    height: 1.4rem;
  }
}

// メインビジュアル
.page-entry {
  .entry-header {
    width: 100%;
    padding: 14rem 0 0;
  }
}
.mainimage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14em;
  overflow: hidden;
  box-shadow: 0 0 2rem 0 rgba(180,80,60,.1);
  img {
    width: auto;
    min-width: 32em;
    height: 100%;
    box-shadow: none;
    z-index: 20;
  }
  .bg {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-position: 50% 50% !important;
    background-size: cover !important;
    filter: brightness(1.1) blur(5rem);
    transform: translateZ(0);
    opacity: .9;
  }
}
p.mainimage { // 一部の古い記事用
  background-position: center !important;
  background-size: cover !important;
  margin: 0 auto;
}

// この記事を書いた人
.author-box {
  display: flex;
  margin: 1rem 0 2rem;
  font-size: .8rem;
}
.author-left {
  text-align: center;
}
.author-img img {
  width: 100%;
  max-width: 6rem;
}
.author-name {
  letter-spacing: 0;
}
.author-id {
  margin: 0;
  font-weight: normal;
  color: #999;
}
.author-message {
  position: relative;
  margin: 0 0 0 1rem;
  padding: 1rem;
  line-height: 1.6;
  background: #ffebeb;
  &::before {
    content: "";
    position: absolute;
    top: 3.8em;
    left: -1.4em;
    margin-top: -.7em;
    border: .7em solid transparent;
    border-right: .7em solid #ffebeb;
  }
  .share-btns {
    margin: 0;
  }
  .share-btn {
    margin: .4rem .6rem 0 0;
    padding: .2rem .6rem;
    color: #454545;
    background: #fff;
    border-radius: 2em;
    box-shadow: 0 .5em .3em -.2em rgba(180, 80, 60, .1);
    img {
      height: 1rem;
      margin: 0 .4rem 0 0;
    }
    &:hover {
      box-shadow: 0 .9em .6em 0 rgba(180, 80, 60, .06);
    }
  }
}

// page-about
.about-box img {
  box-shadow: none;
}
.page-about dl {
  padding: 1.4rem 1.4rem .5rem;
  background: #fff8f8;
}
.page-about dd {
  margin: -.2rem 0 1rem;
}
