.gnav  {
  position: absolute; //ロゴの横に移動
  top: 0;
  left: 4.2rem;
  width: calc(100% - 4.8rem);
}
.gnav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.875rem;
  font-size: .76rem;
  font-weight: normal;
  background: #f2f2f2;
}
.gnav-items {
  display: flex; //横並び
  justify-content: space-around;
  padding: 0 2%;
  background: #f2f2f2;
}
.gnav-item {
  width: 22%; //４メニュー並べる
  height: 2.5rem;
  list-style: none;
  font-size: .9rem;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background: #fff;
    border-radius: 2em;
  }
}
@include min-sm {
  .gnav {
    position: relative;
    left: 0;
    width: 100%;
  }
  .gnav-title {
    display: block;
    padding: 1rem 1rem 0;
    height: auto;
    text-align: center;
    background: transparent;
  }
  .gnav-items {
    flex-direction: column;
    margin: .6rem 0 0;
    padding: .8rem 1rem;
    background: #f2f2f2;
  }
  .gnav-item {
    margin: .3rem 0;
    width: 100%;
    height: auto;
    font-size: .9rem;
    a {
      position: relative;
      color: #666;
      font-weight: 500;
      border: 1px solid transparent;
      border-radius: .2rem;
      &:hover {
        color: #454545;
        border: 1px solid #ddd;
      }
    }
  }
}

.share-btns {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 .4rem;
  background: #f2f2f2;
}
.share-btn {
  display: flex;
  align-items: center;
  margin: .6rem .2rem;
  padding: .2rem .6rem;
  height: 2rem;
  font-size: .9rem;
  font-weight: 500;
  color: #666;
  background: #fff;
  border: 1px solid transparent;
  border-radius: .2rem;
  &:hover {
    color: #454545;
    border: 1px solid #ddd;
  }
  img {
    width: auto;
    height: 1.4rem;
  }
  &.copied {
    color: #666;
    background: #f8f8f8;
    border: 1px solid #ddd;
  }
}

// メインビジュアル
.page-entry {
  #main {
    position: relative;
  }
  .entry-header {
    width: 100%;
    padding: 14rem 0 0;
  }
}
.mainimage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14em;
  overflow: hidden;
  img {
    width: auto;
    min-width: 32rem;
    height: 100%;
    z-index: 20;
    &.mv {
      box-shadow: none;
    }
  }
  .bg {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-position: 50% 50% !important;
    background-size: cover !important;
    filter: brightness(1.1) blur(5rem);
    opacity: .9;
  }
}
p.mainimage { // 一部の古い記事用
  background-position: center !important;
  background-size: cover !important;
  margin: .4em auto 0;
}
@include min-sm {
  .page-entry {
    .entry-header {
      padding: 21rem 0 0;
    }
  }
  .mainimage {
    height: 22rem;
    img {
      height: auto;
      &.mv {
        margin: 0 3rem;
        width: 39rem;
        border-radius: .8rem;
      }
    }
    .bg { display: block; }
  }
  p.mainimage {
    margin: 0 auto;
  }
}

// この記事を書いた人
.author-box {
  margin: 0 0 1rem;
  background: #f2f2f2;
  border: 2px solid #eee;
}
.author-left, .author-right {
  padding: 1rem;
  width: 100%;
}
.author-left {
  text-align: center;
  vertical-align: middle;
  background:#fff;
  dl {
    margin: 0;
    font-weight: 500;
  }
  dd {
    margin: 0;
    font-size: .8em;
    font-weight: normal;
    color: #999;
  }
}
.author-right {
  p {
    margin: 0 0 1rem;
    font-size: .9rem;
  }
  .share-btns {
    margin: 0 0 -.4rem;
    padding: 0;
  }
  .share-btn {
    margin: 0 .4rem .4rem 0;
    img {
      height: 1rem;
      margin: 0 .4rem 0 0;
    }
  }
}
@include min-sm {
  .author-box {
    display: flex;
    align-items: center;
  }
  .author-left {
    width: 16rem;
  }
}

// page-about
.about-box img {
  box-shadow: none;
}
.feedly::before {
  content: "\f04e";
  font: 1.2em/1 blogicon;
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0 .4em 0 0;
  color: #2bb24c;
}
#privacy.about-box {
  padding: .02em 1.6rem;
  background: #f2f2f2;
  a {
    display: inline;
  }
}
dt {
  margin: 0 0 .2em;
  font-size: .9rem;
  font-weight: 500;
  color: #666;
}
dd {
  margin: .5rem 0 1rem;
}

// page-archive
.archive-nav {
  list-style: none;
}
.archive-nav-item {
  display: inline-block;
  margin: 0 .8rem .8rem 0;
}
