// media queries

// $min-xs: "max-width: 480px";
$min-sm: "min-width: 768px";
// $min-md: "min-width: 992px";
$min-lg: "min-width: 1200px";
$min-xl: "min-width: 1681px";

// colors

$color-text-base: #454545;
$color-text-gray: #999;
$color-text-white: #FFF;
$color-bg-black: #000;
$color-bg-gray: #F2F2F2;
$color-bg-white: #FFF;
$color-bg-key1: #FFF8F8;
$color-bg-key2: #FFEBEB;
$color-border: #FFCFD4;

$color-key-accent1: #F36777;
$color-key-accent2: #B30E21;

// darkmode

$color_dark-text-base: #EEE;
$color_dark-text-gray: #AAA;
$color_dark-bg-gray: #333;
$color_dark-bg-white: #2C2C2C;
$color_dark-bg-key1: #1B2021;
$color_dark-bg-key2: #000;
$color_dark-border: #555;
