// media queries
// $min-xs: "max-width: 480px";
$min-sm: "min-width: 768px";
$min-md: "min-width: 992px";
$min-lg: "min-width: 1200px";
$min-xl: "min-width: 1681px";

// colors
$color-text-black: #000;
$color-text-base: #454545;
$color-text-light: #999;
$color-text-white: #FFF;

$color-text-link: #F36777;
$color-text-hover: #B30E21;

$color-bg-black: #000;
$color-bg-key-dark: #FFEBEB;
$color-bg-key-base: #FFF8F8;
$color-bg-key-accent: #F36777;
$color-bg-white: #FFF;

$color-border-mono: #DDD;
$color-border-color: #FFCFD4;
